HELP.md

### Maven ###
# Exclude the default target folder
target/   # Commented out to include the target folder

# Include Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Include target folders under src/main and src/test
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
